#!/usr/bin/make -f
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Backends
backends := bind ldap pipe gmysql godbc gpgsql gsqlite3 geoip lua mydns remote random opendbx tinydns

ENABLE_SYSTEMD := --enable-systemd --with-systemd=/lib/systemd/system
LIBSYSTEMD_DEV := , libsystemd-dev
DEBHELPER_WITH_SYSTEMD := --with systemd

# $(ID) and $(VERSION_ID) come from the environment, source this from /etc/os-release
ifeq ($(ID), ubuntu)
  ifeq ($(VERSION_ID), 14.04)
    # Disable building with and depending on systemd on Ubuntu Trusty
    ENABLE_SYSTEMD=
    LIBSYSTEMD_DEV=
    DEBHELPER_WITH_SYSTEMD=
  endif
endif

debian/control: debian/control.in
	sed -e "s!@LIBSYSTEMDDEV@!$(LIBSYSTEMD_DEV)!" $< > $@

# Use new build system
%:
	dh $@ \
	  --with autoreconf \
	  --parallel \
	  $(DEBHELPER_WITH_SYSTEMD)

override_dh_auto_configure:
	test -f pdns/dnslabeltext.cc && mv pdns/dnslabeltext.cc debian/dnslabeltext.cc.moved || true
	dh_auto_configure -- \
		--sysconfdir=/etc/powerdns \
		--with-dynmodules="$(backends)" \
		--with-modules="" \
		--with-pgsql-includes=`pg_config --includedir` \
		--enable-botan1.10 \
		--enable-tools \
		--without-protobuf \
		--enable-unit-tests \
		$(ENABLE_SYSTEMD)

# pdns-server has a debug package
override_dh_strip:
	dh_strip --dbg-package=pdns-server-dbg

override_dh_systemd_enable:
	dh_systemd_enable --name=pdns

# init script needs to be named pdns, not pdns-server. if no pdns-backend
# is installed, start will fail, so pass --no-start. backends will trigger
# a restart.
override_dh_installinit:
	dh_installinit --error-handler=initscript_error --no-start --restart-after-upgrade --name=pdns

# Additional permissions
override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/pdns-server/etc/resolvconf/update.d/pdns

override_dh_auto_install:
	dh_auto_install
	rm -f debian/pdns-server/etc/powerdns/pdns.conf-dist

override_dh_install:
	dh_install
	./pdns/pdns_server --no-config --config | sed \
	  -e 's!# module-dir=.*!!' \
	  -e 's!# include-dir=.*!&\ninclude-dir=/etc/powerdns/pdns.d!' \
	  -e 's!# launch=.*!&\nlaunch=!' \
	  -e 's!# setgid=.*!setgid=pdns!' \
	  -e 's!# setuid=.*!setuid=pdns!' \
	  > debian/pdns-server/usr/share/pdns-server/pdns.conf

# Verbose build (shows used compiler/linker and their flags)
override_dh_auto_build-arch:
	dh_auto_build -- V=1

# Verbose tests (shows used compiler/linker and their flags)
override_dh_auto_test:
	$(MAKE) -C pdns check
	#dh_auto_test -- V=1

# restore moved files
override_dh_clean:
	test -f debian/dnslabeltext.cc.moved && mv debian/dnslabeltext.cc.moved pdns/dnslabeltext.cc || true
	dh_clean

override_dh_fixperms:
	dh_fixperms
	# these files often contain passwords.
	chmod 0600 debian/pdns-server/etc/powerdns/pdns.conf

