Name: dnsdist
Version: {{pkg_version}}
Release: {{pkg_release}}
Summary: Powerful and scriptable DNS loadbalancer
License: GPLv2
Vendor: PowerDNS.COM BV
Group: System/DNS
Source: %{name}-%{version}.tar.bz2
Requires(pre): shadow-utils

{% for dep in builddeps %}
BuildRequires: {{ dep }}
{% endfor %}

%description
dnsdist is a high-performance DNS loadbalancer that is scriptable in Lua.

%prep
%if %{rhel} >= 7
%autosetup -n %{name}-%{version}
%else
%setup -n %{name}-%{version}
%endif

%build
%configure \
  --sysconfdir=/etc/%{name} \
  --enable-re2 \
%if %{rhel} >= 7
  --with-protobuf \
  --enable-libsodium \
  --enable-dnscrypt \
  --enable-systemd --with-systemd=%{_unitdir} \
%endif

make

%install
%make_install
install -d %{buildroot}/%{_sysconfdir}/%{name}
%if %{rhel} >= 7
sed -i "s,/^\(ExecStart.*\)%{name}\(.*\)\$,\1%{name} -u %{name} -g %{name}\2," %{buildroot}%{_unitdir}/%{name}.service
%else
install -d -m 755 %{buildroot}/%{_initrddir} && install -m 755 contrib/%{name}.init.centos6 %{buildroot}/%{_initrddir}/%{name}
%endif

%pre
getent group %{name} >/dev/null || groupadd -r %{name}
getent passwd %{name} >/dev/null || \
  useradd -r -g %{name} -d / -s /sbin/nologin \
  -c "%{name} user" %{name}
exit 0

%post
%if %{rhel} >= 7
%systemd_post %{name}.service
%else
/sbin/chkconfig --add %{name}
%endif

%preun
%if %{rhel} >= 7
%systemd_preun %{name}.service
%else
if [ "\$1" -eq "0" ]; then
  # Package removal, not upgrade
  /sbin/service %{name} stop > /dev/null 2>&1 || :
  /sbin/chkconfig --del %{name}
fi
%endif

%postun
%if %{rhel} >= 7
%systemd_postun_with_restart %{name}.service
%else
if [ "\$1" -ge "1" ] ; then
  /sbin/service %{name} condrestart >/dev/null 2>&1 || :
fi
%endif

%files
%{!?_licensedir:%global license %%doc}
%license COPYING
%doc README.md
%{_bindir}/*
%{_mandir}/man1/*
%dir %{_sysconfdir}/%{name}
%if %{rhel} >= 7
%{_unitdir}/%{name}.service
%else
%{_initrddir}/%{name}
